*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Body & header */
body{
    margin: 0 10%;
    background-image:linear-gradient(to right, green, purple) ;
    background-repeat:no-repeat ;
    background-size: cover;
    font-size: 40px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.63);
    box-shadow: 4px 4px 11px black;
    width: 80vw;
    height: 8vh;
    margin: 2.5% 0;
    border-radius: 50px;
}

/* "Arredondador" de imagem e logo */

.round{
    border-radius: 50%;
    margin: 1%;
}


.image-logo{
    background-color: black;
    height: 6vh;
}

.image-logo > img{
    height: inherit;
}

/* Área principal e Introdução */

main{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 5% 0;
}
.intro-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-me{
    background-color: black;
    height: 300px;
    transform: scaleX(-1);
}


/* Qualificações */

.qualify{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5%;
    color:black ;
    margin: 5% 0;
}

.skill{
    background-color: var(--fundo-container);
    box-shadow: 4px 4px 11px black;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    width: 28%;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Animação de Linguagens & Tenologias */

.skill-item{
    background-color: whitesmoke;
    border: 4px solid var(--cor-primaria-geral);
    color: var(--cor-primaria-geral);
    border-radius: 10px;
    margin:2px 5px;
    transition-duration:200ms ;
}

.skill-item:hover{
    background-color: var(--cor-primaria-geral);
    color: black;
    border-color: none;
    transform: scale(1.1);
}

/* Área de Projetos */
.projetos{
    display: grid; /* ativa o grid */
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1rem; /* espaço entre os cards */
}

.projeto{
    font-size: 30px;
    background-color: whitesmoke;
    color: black;
    width: 75%;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    margin: 10% 0;
    position: relative;
}




.descricao-projeto{
    max-height:100px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}


.overflow{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
}


.overflow[data-state="visible"]{
    display:block;
}

.ReadMore{
    color: var(--cor-primaria-geral);

}

.ReadMore:hover{
    cursor: pointer;
    
}



/* Variaveis */
:root{
    --fundo-container: rgba(245, 245, 245, 0.396);
    --cor-primaria-geral: purple;

}