*{
    padding: 0;
    margin: 0;
    border: none;
}

/* FAZER ANIMAÇÃO DE TYPEWRITER */

/* Body & header */
body{
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    background-repeat:no-repeat ;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: "Ubuntu",sans-serif;
}
/* Menu */
.img-logo{
    height: 8vh;
}

.menu-button{
    left: 2.5%;
    top: 2.5%;
    position: fixed;
}

.navbar{
    position:fixed;
    height:8vh;
    left: 2.5%;
    top: 2.5%;
    width:95vw;
    border-radius: 50px;
    background-color: whitesmoke;
    transition: width 1s ease-out;

}

.closed{
    width: 8vh;

}
.menu-button:hover{
    cursor: pointer;
}

.links-container{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.lista-links{
    text-decoration: none;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;
}

.link{
    display: block;
    text-align: center;
    text-justify: center;

}

.link a:hover{
    background-color: var(--fundo-container);
}

.link a{
    text-decoration: none;
    color: var(--cor-primaria-geral);
}

/* "Arredondador" de imagem e logo */

.round{
    border-radius: 50%;
}



/* Área principal e Introdução */

main{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    column-gap: 500px;
    row-gap: 5vw;
}
.intro-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20%;
    height: 100vh;
    margin: 0 5%;
}
.text{
    text-align: center;
}

.image-me{
    background-color: white;
    height: 400px;
    margin-right: 10%;
    z-index: -1;
}


/* Qualificações */

.qualify{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5%;
    color:black ;
    margin: 5% 0;
}

.skill{
    background-color: var(--fundo-container);
    box-shadow: 4px 4px 11px black;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    width: 28%;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}
/* Experiências Profissionais */

.xp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 5vh;
    height: 90vh;
}
.exp-profissional{
    font-size: x-large;
    color: whitesmoke;
    border: 2px solid var(--cor-primaria-geral);
    padding: 50px;
    width: 90vw;
}





/* Animação de Linguagens & Tenologias */

.skill-item{
    width: fit-content;
    padding: 1%;
    background-color: whitesmoke;
    border: 3px solid var(--cor-primaria-geral);
    color: var(--cor-primaria-geral);
    border-radius: 5px;
    margin:8px 5px;
    transition-duration:200ms ;
}

.skill-item:hover{

    color: black;
    border-color: none;
    transform: scale(1.2);
    box-shadow: 0 0 45px 5px var(--cor-primaria-geral);
    cursor: default;
}

/* Área de Projetos */
.projetos{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin: 0 5%;
}
.projetos h1{
    position: absolute;
}
.projeto img{
    height: 350px;
}


.projeto{
    height: fit-content;
    font-size: 30px;
    color: whitesmoke;
    width: 25%;
    border: 3px solid var(--cor-primaria-geral);
    padding: 2%;
    margin: 5% 0;
    text-align: center;
    position: static;
}

.img-projeto{
    border-radius: 5px;
    width: 100%;
}
.projeto a{
    text-decoration: none;
    color: var(--cor-primaria-geral);
}



.descricao-projeto{
    max-height:100px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}


.overflow{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
}


.overflow[data-state="visible"]{
    display:block;
}

.ReadMore{
    color: var(--cor-primaria-geral);

}

.ReadMore:hover{
    cursor: pointer;
    
}

/* Footer e Info de contato */

.contact{
    color:var(--cor-primaria-geral);
    width: 100vw;
    height: 50vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}
.contato{
    margin: 1% 0;
    gap: 5%;
}




/* Variaveis */
:root{
    --fundo-container: rgba(245, 245, 245, 0.396);
    --cor-primaria-geral: #800080;

}